.navbar-main {
  position: fixed;
  right: 20px;
  display: flex;
  align-items: center;
  height: 100%;
}
.mobile-picker {
  display: none;
}
.nav-item.active {
  a {
    color: #fff;
    font-weight: 600;
  }
  svg {
    path {
      fill: #5aafff;
    }
  }
  &:hover {
    transform: scale(1.5);
    cursor: pointer;
    a {
      color: white;
    }

    svg {
      path {
        fill: #5aafff;
      }
    }
  }
}

.nav-item {
  margin: 0px 10px;
  transition: all 0.2s ease-in-out;
  min-height: 100px;
  a {
    color: white;
  }
  &:hover {
    transform: scale(1.5);
    cursor: pointer;
    a {
      color: white;
    }

    svg {
      path {
        fill: white;
      }
    }
  }
}
@media only screen and (min-width: 374px) and (max-width: 768px) {
  .mobile-picker {
    display: block;
  }
  .navbar-main {
    transform: translateX(140px);
    transition: transform 0.5s ease-out;
    z-index: 10;
  }

  .navbar-main.open {
    transform: translateX(0);
    transition: transform 0.5s ease-in;
  }
  .side-nav {
    background: #424242;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px;
  }
}
