#particles-js {
  display: none;
}

.about-me-overlay {
  background: linear-gradient(to right, #42275a, #734b6d);
  height: 100%;
  position: fixed;
  width: 100%;
  height: 100%;
  min-width: 69vw;
  z-index: -1;

}

.git-title {
  font-size: 1.5rem;
  background: rgb(255 255 255 / 66%);
  color: black;
  max-width: fit-content;
  margin: 10px auto;
  padding: 10px;
  border-radius: 13px;
}

.header {
  font-family: 'Comfortaa', cursive;
}

.about-me {
  color: white;
}

.repos-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;

  margin-right: 190px;
  margin-left: 20px;
  margin-top: 30px;

  .repo-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all .3s;
    text-align: center;
    display: flex;
    justify-content: center;

    img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: all .3s;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      // box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 40px;
  max-width: 600px;

  hr {
    width: 100%;
  }
}

.id-card {
  margin: auto;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  display: flex;
  background-image: linear-gradient(to right, #2c3e50, #4ca1af);
  color: white;
  padding: 30px;
  align-items: center;
}

.left {
  .my-image {
    max-height: 150px;
    max-width: 150px;
    border: 2px solid;
    border-radius: 100%;
  }
}

.right {

  display: flex;
  font-family: 'Comfortaa', cursive;

  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  color: white;

  div {
    padding: 5px;
    padding-left: 15px;
    font-weight: 500;
  }

  .name {
    font-size: 26px;
    font-weight: 500;
  }
}

.about-me-details {
  opacity: 0;
  transition: all 0.5s ease;
}

.about-me-text {
  font-size: 3rem;
  padding: 30px 0px 0px 10px;
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 374px) and (max-width: 768px) {
  .header {
    padding-top: 90px;

  }

  .right {
    flex-direction: column;
  }

  .repos-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin: 0 30px;

    .id-card {
      margin: 30px;
      flex-direction: column;
    }
  }

  .right {
    text-align: center;
  }

  .laptop {
    width: 100%;
  }
}


body {

  --dot-yellow: #fff;
  --dot-orange: #fff;
  --dot-pink: #fff;
  --dot-purple: #fff;
}


.loading-image {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.loading {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
}

.dot {
  animation-timing-function: ease-in-out, linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: loading-wave, loading-color-change;
  border-radius: 50%;
  margin: 1px;
  height: 50px;
  width: 50px;
}

.dot-1 {
  animation-delay: 0.1s;
}

.dot-2 {
  animation-delay: 0.3s;
}

.dot-3 {
  animation-delay: 0.6s;
}

.dot-4 {
  animation-delay: 0.9s;
}

@keyframes loading-wave {

  0%,
  100% {
    transform: translateY(-30px);
  }

  25% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(0);
  }
}

@keyframes loading-color-change {

  0%,
  100% {
    background: var(--dot-purple);
  }

  25% {
    background: var(--dot-pink);
  }

  50% {
    background: var(--dot-orange);
  }

  75% {
    background: var(--dot-yellow);
  }
}



:root {
  --color-bg: #eaeaea;
  --color-loader: rgb(255, 255, 255);
  --loader-size: 100px;
  --loader-speed: 500ms;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff17;
  width: 100%;
  border-radius: 10px;
}

.loader-image {
  --loader-height: calc(var(--loader-size) / 7);
  display: flex;
  position: relative;
  min-height: 200px;
  align-items: center;
}

.loader-image::before {
  content: '';
  position: absolute;
}

.loader-image::before,
.loader-image>span {
  display: block;
  width: var(--loader-height);
  height: var(--loader-height);
  border-radius: 50%;
  background: var(--color-loader);

  animation-name: to-right;
  animation-duration: var(--loader-speed);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loader-image>span:nth-child(even) {
  visibility: hidden;
}

.loader-image>span:first-child {
  animation-name: scale-up;
}

.loader-image>span:last-child {
  animation-name: scale-up;
  animation-direction: reverse;
}

@keyframes to-right {
  to {
    transform: translateX(200%);
  }
}

@keyframes scale-up {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}